In [13]:
import pandas as pd
import numpy as np
#from sklearn.cross_validation import train_test_split
from sklearn.datasets import load_breast_cancer
from sklearn.neighbors import KNeighborsClassifier     #KNN
from sklearn.linear_model import LogisticRegression    #Logistic Regression
from sklearn.tree import DecisionTreeClassifier        #Decision Tree
from sklearn.ensemble import RandomForestClassifier    #Random Forest
from sklearn.neural_network import MLPClassifier       #Neural Network
from sklearn.svm import SVC                            #SVM
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import tree
import matplotlib.pylab as plt
import numpy as np
#import graphviz
import itertools

%matplotlib inline

# turn our data to a dataframe
credit_df = pd.read_csv( "german-credit-card-test.txt", delim_whitespace = True, header = None)

# add column names to our data
columns = ['checkin_acc', 'duration', 'credit_history', 'purpose', 'amount',
           'saving_acc', 'present_emp_since', 'inst_rate', 'personal_status',
           'other_debtors', 'residing_since', 'property', 'age',
           'inst_plans', 'housing', 'num_credits',
           'job', 'dependents', 'telephone', 'foreign_worker', 'status']
           
credit_df.columns = columns


# select our tatger name (i.e good credit, bad credit)
credit_df.target_names= ['Good', 'Bad']

# look at our data frame
# credit_df

# check columns name and the data type it holds
# credit_df.info()

/var/folders/rp/8y6kqydx4gz7_qbqgv893ccm0000gn/T/ipykernel_26998/2856088178.py:35: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  credit_df.target_names= ['Good', 'Bad']

In [14]:
X_features = list( credit_df.columns )
X_features.remove( 'status' )
X_features
# the columns in our data frame is our features for the NN

['checkin_acc',
 'duration',
 'credit_history',
 'purpose',
 'amount',
 'saving_acc',
 'present_emp_since',
 'inst_rate',
 'personal_status',
 'other_debtors',
 'residing_since',
 'property',
 'age',
 'inst_plans',
 'housing',
 'num_credits',
 'job',
 'dependents',
 'telephone',
 'foreign_worker']

In [15]:
credit_df_complete = pd.get_dummies( credit_df[X_features], drop_first = True )
# get_dummies takes in our (data, drop_first=True)
# our data is our features (our entire data set)
# drop_first: Wether to get k-1 dummies out of k categorical levels by removing the first level

#credit_df_complete = credit_df[X_features]
credit_df_complete # theres 48 columns

,duration,amount,inst_rate,residing_since,age,num_credits,dependents,checkin_acc_A12,checkin_acc_A13,checkin_acc_A14,...,personal_status_A94,property_A122,property_A123,property_A124,inst_plans_A143,housing_A152,housing_A153,job_A173,job_A174,telephone_A192
0,15,1264,2,2,25,1,1,1,0,0,...,1,1,0,0,1,0,0,1,0,0
1,30,8386,2,2,49,1,1,1,0,0,...,0,1,0,0,1,1,0,1,0,0
2,48,4844,3,2,33,1,1,0,0,1,...,0,0,1,0,0,0,0,0,1,1
3,21,2923,1,1,28,1,1,0,1,0,...,0,0,1,0,0,1,0,0,1,1
4,36,8229,2,2,26,1,2,0,0,0,...,0,1,0,0,1,1,0,1,0,0
5,24,2028,2,2,30,2,1,0,0,1,...,0,1,0,0,1,1,0,0,0,0
6,15,1433,4,3,25,2,1,0,0,0,...,0,1,0,0,1,0,0,1,0,0
7,42,6289,2,1,33,2,1,0,1,0,...,0,1,0,0,1,1,0,1,0,0
8,13,1409,2,4,64,1,1,0,0,1,...,0,0,0,0,1,1,0,1,0,0
9,24,6579,4,2,29,1,1,0,0,0,...,0,0,0,1,1,0,1,0,1,1
10,24,1743,4,2,48,2,1,1,0,0,...,0,1,0,0,1,1,0,0,0,0
11,12,3565,2,1,37,2,2,0,0,1,...,0,1,0,0,1,1,0,0,0,0
12,15,1569,4,4,34,1,2,0,0,1,...,0,0,1,0,0,1,0,0,0,0
13,18,1936,2,4,23,2,1,0,0,0,...,1,0,1,0,1,0,0,0,0,0
14,36,3959,4,3,30,1,1,0,0,0,...,0,1,0,0,1,1,0,0,1,1
15,12,2390,4,3,50,1,1,0,0,1,...,0,0,1,0,1,1,0,1,0,1
16,12,1736,3,4,31,1,1,0,0,1,...,0,0,0,0,1,1,0,0,0,0
17,30,3857,4,4,40,1,1,0,0,0,...,0,1,0,0,1,1,0,0,1,1
18,12,804,4,4,38,1,1,0,0,1,...,0,0,1,0,1,1,0,1,0,0
19,45,1845,4,4,23,1,1,0,0,0,...,0,0,0,1,1,0,1,1,0,1
20,45,4576,3,4,27,1,1,1,0,0,...,0,0,1,0,1,1,0,1,0,0

In [16]:
#Change the reponse variable to 0 = No Default and 1 = Default
Y = credit_df.status - 1  # pandas series 999 rows each row corresponds to a 0 or 1
X = credit_df_complete    # pandas dataframe

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.1, random_state = 42)

# print(credit_df_complete.shape)

# multi-layer perceptron classifier
mlp = MLPClassifier(random_state=42)
mlp.fit(X_train, y_train)

print('acc for training data: {:.3f}'.format(mlp.score(X_train, y_train)))
print('acc for test data: {:.3f}'.format(mlp.score(X_test, y_test)))

acc for training data: 0.778
acc for test data: 0.667